main{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(#e66465, #9198e5); */
    background-color: black;
    /* height: 1000px; */
}

/* Propt changes */
.prompt{
    width: 40%;
    text-align: center;
    /* background-color: rgb(112, 202, 255); */
    background-color: black;
    border-radius: 50em;
    font-family: 'Fredoka One', cursive;
    line-height: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 20px solid rgb(115, 255, 0);
    margin-bottom: 40px;
    margin-top: 40px;
}

h1{
    font-size: xx-large;
    color: white;
}

h2{
    font-size: 400%;
    /* color: rgb(255, 0, 140); */
    color:rgb(115, 255, 0);
}
h2:hover{
    /* font-size: 500%; */
    color: rgb(255, 242, 0);
    animation: smallBig 1s infinite;
}

@keyframes smallBig {
    50%{
        font-size: 500%;
    }
    100%{
            font-size: 400%;
    }
    
}

.celebCont{
    display: flex;
    justify-content: center;
    flex-direction: row;
    opacity: 0%;
}

.celebbox1{
    background-color: black;
    width: 350px;
    height: 350px;
    margin-right: 40px;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.celebbox1:hover{
    background-color: rgb(255, 242, 0);
    /* background-color: rgb(115, 255, 0); */
    animation: shake 0.2s infinite;
}

.celebbox2{
    background-color: black;
    width: 350px;
    height: 350px;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.celebbox2:hover{
    background-color: rgb(115, 255, 0);
    animation: shake 0.2s infinite;
}

@keyframes shake {
    35%{
        rotate: 5deg;
    }
    50%{
        rotate: 10deg;
    }
    75%{
        rotate: 5deg;
    }
    100%{
        rotate: 0deg;
    }
}

.img1{
    width: 300px;
    border-radius: 3em;
}

.img2{
    width: 300px;
    border-radius: 3em;
}

.playAgainButton{
    border-radius: 2em;
    padding: 7px;
    background-color: rgb(115, 255, 0);
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Fredoka One', cursive;
    font-size: 250%;
}
.playAgainButton:hover{
    background-color: white;
}

